<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Team01d</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>pages.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBCon</display-name>
    <servlet-name>DBCon</servlet-name>
    <servlet-class>base.DBCon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBCon</servlet-name>
    <url-pattern>/DBCon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLiigiRedaktor</display-name>
    <servlet-name>AdminLiigiRedaktor</servlet-name>
    <servlet-class>pages.AdminLiigiRedaktor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLiigiRedaktor</servlet-name>
    <url-pattern>/AdminLiigiRedaktor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminYksuseRedaktor</display-name>
    <servlet-name>AdminYksuseRedaktor</servlet-name>
    <servlet-class>pages.AdminYksuseRedaktor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminYksuseRedaktor</servlet-name>
    <url-pattern>/AdminYksuseRedaktor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAlluvus</display-name>
    <servlet-name>AdminAlluvus</servlet-name>
    <servlet-class>pages.AdminAlluvus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAlluvus</servlet-name>
    <url-pattern>/AdminAlluvus</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>LisaAdminAlluv</display-name>
    <servlet-name>LisaAdminAlluv</servlet-name>
    <servlet-class>pages.LisaAdminAlluv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LisaAdminAlluv</servlet-name>
    <url-pattern>/LisaAdminAlluv</url-pattern>
  </servlet-mapping>
  <servlet>
      <description></description>
    <display-name>LisaVoimalikAlluv</display-name>
    <servlet-name>LisaVoimalikAlluv</servlet-name>
    <servlet-class>pages.LisaVoimalikAlluv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LisaVoimalikAlluv</servlet-name>
    <url-pattern>/LisaVoimalikAlluv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminStruktuurRaport</display-name>
    <servlet-name>AdminStruktuurRaport</servlet-name>
    <servlet-class>pages.AdminStruktuurRaport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminStruktuurRaport</servlet-name>
    <url-pattern>/AdminStruktuurRaport</url-pattern>
  </servlet-mapping>
</web-app>